<div class="container">

    <!-- LEFT -->
    <div class="container__left">
        <div class="left__title">
            <h1 class="title__name">Hola, soy Juan Camilo Villacob,</h1>
        </div>
        <div class="left__paragraph">
            <p class="paragraph__text">
                un profesional con una sólida base en ingeniería de petróleos que encontró su verdadera pasión en el
                desarrollo web. Mi formación como ingeniero me ha dotado de un pensamiento analítico riguroso y la
                habilidad para resolver problemas complejos, habilidades que ahora aplico en mi trabajo de desarrollo.
            </p>
        </div>
    </div>

    <!-- RIGHT -->
    <div class="container__right">
        <div class="right__elements">
            <div class="right__element">
                <p class="element__title">
                    Con formación en cursos y bootcamps de desarrollo web, he adquirido habilidades en tecnologías como
                    HTML, CSS, JavaScript, y Angular.
                </p>
            </div>
            <div class="right__element">
                <p class="element__title">
                    Me encanta combinar mi amor por el diseño con mis habilidades de
                    codificación para crear experiencias digitales elegantes y efectivas. Siempre estoy buscando
                    oportunidades para crecer y aprender algo nuevo.
                </p>
            </div>
            <div class="right__element">
                <p class="element__title">Bienvenido a mi portfolio, espero que disfrutes
                    descubriendo más sobre mi trabajo y lo que me apasiona.</p>
            </div>
        </div>


    </div>

</div>