<div class="container">
    <table class="container__table">
        <thead class="table__head">
            <tr>
                <th class="table__h">Titulo</th>
                <th class="table__h">Titulo</th>
                <th class="table__h">Titulo</th>
                <th class="table__h">Titulo</th>
                <th class="table__h">Titulo</th>
            </tr>
        </thead>
        <tbody class="table__body">
            <tr>
                <td class="table__b">Elemento</td>
                <td class="table__b">Elemento</td>
                <td class="table__b">Elemento</td>
                <td class="table__b">Elemento</td>
                <td class="table__b">Elemento</td>
            </tr>
            <tr>
                <td class="table__b">Elemento</td>
                <td class="table__b">Elemento</td>
                <td class="table__b">Elemento</td>
                <td class="table__b">Elemento</td>
                <td class="table__b">Elemento</td>
            </tr>
            <tr>
                <td class="table__b">Elemento</td>
                <td class="table__b">Elemento</td>
                <td class="table__b">Elemento</td>
                <td class="table__b">Elemento</td>
                <td class="table__b">Elemento</td>
            </tr>
            <tr>
                <td class="table__b">Elemento</td>
                <td class="table__b">Elemento</td>
                <td class="table__b">Elemento</td>
                <td class="table__b">Elemento</td>
                <td class="table__b">Elemento</td>
            </tr>
        </tbody>
    </table>
</div>