/* .body {
    height: 100vh;
    width: 100vw;
    background-color: rgba(230,231,230,255);
    background-image: url('../assets/fondo/indio.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
 */

.container {
    height: 100vh;
    width: 100%;
    position: relative;
}